<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/admin-style.css">
   </head>
   <body>
      <div id="wrapper">
         <div class="overlay"></div>
         <%- include('../includes/ui/sidebar.ejs') %>
         <div id="page-content-wrapper">
            <div id="content">
               <div class="container-fluid p-0 px-lg-0 px-md-0">
                  <%- include('../includes/ui/nav.ejs') %>
                  <div class="container px-lg-4">
                     <div class="row">
                        <%- include('../includes/ui/sub-menu.ejs', {pageAbout: pageAbout}) %>
                        
                        <div class="col-md-12 mt-4">
                           <%- include('../includes/lists/animal-list.ejs') %>
                        </div>
                     </div>
                  </div>
               </div>
               <%- include('../includes/ui/footer.ejs') %>
            </div>
         </div>
      </div>
      <%- include('../includes/footer.ejs') %>
   </body>
</html>