<div class="card">
    <div class="card-body">
       <!-- title -->
       <div class="d-md-flex align-items-center">
          <div>
             <h4 class="card-title">Dals</h4>
             <h5 class="card-subtitle">Overview of Latest Dals for Adoption</h5>
          </div>
          <div class="ml-auto">
            
          </div>
       </div>
       <!-- title -->
    </div>
    <div class="table-responsive">
       <table class="table v-middle">
          <thead>
             <tr class="bg-light">
                <th class="border-top-0">Pet</th>
                <th class="border-top-0">Age</th>
                <th class="border-top-0">Breed</th>
                <th class="border-top-0">Height</th>
                <th class="border-top-0">Weight</th>
                <th class="border-top-0">Adopted</th>
             </tr>
          </thead>
          <tbody>
           <% if (animals.length > 0 ) {  %>
            <% for (let animal of animals) { %>
            <tr>
              <td>
                 <div class="d-flex align-items-center">
                    <div class="m-r-10"><a class="btn btn-circle btn-info text-white">EA</a></div>
                    <div class="">
                      <h4 class="m-b-0 font-16"><a href="/admin/animals/details/<%= animal._id%>"><%= animal.name %></a></h4>
                    </div>
                 </div>
              </td>
              <td><%= animal.age %></td>
              <td><%= animal.breed %></td>
              <td>
                 <label class="label label-danger"><%= animal.height %></label>
              </td>
              <td><%= animal.weight %></td>
              <td><%= animal.adopted %></td>
           </tr>

            <% } %>
           <% } else { %>
             <tr>
                <td>
                   <div class="d-flex align-items-center">
                      <div class="">
                        <h4 class="m-b-0 font-16">N/A</h4>
                      </div>
                   </div>
                </td>
                <td>N/A</td>
                <td>N/A</td>
                <td>
                   <label class="label label-danger">N/A</label>
                </td>
                <td>N/A</td>
                <td>N/A</td>
             </tr>
            <% } %>
            
          </tbody>
       </table>
    </div>
 </div>