<div class="card">
    <div class="card-body">
       <!-- title -->
       <div class="d-md-flex align-items-center">
          <div>
             <h4 class="card-title">Requests</h4>
             <h5 class="card-subtitle">Pending Requests for Adoption</h5>
          </div>
          <div class="ml-auto">
            
          </div>
       </div>
       <!-- title -->
    </div>
    <div class="table-responsive">
       <table class="table v-middle">
          <thead>
             <tr class="bg-light">
                <th class="border-top-0">First</th>
                <th class="border-top-0">Last</th>
                <th class="border-top-0">Email</th>
                <th class="border-top-0">Animal</th>
                <th class="border-top-0">Attached Files</th>
             </tr>
          </thead>
          <tbody>
           <% if (requests.length > 0 ) {  %>
            <% for (let request of requests) { %>
            <tr>
              <td>
                 <div class="d-flex align-items-center">
                    <div class="m-r-10"><a class="btn btn-circle btn-info text-white">EA</a></div>
                    <div class="">
                      <h4 class="m-b-0 font-16"><a href="/admin/animals/<%= animal._id%>"><%= request.first_name %></a></h4>
                    </div>
                 </div>
              </td>
              <td><%= request.last_name %></td>
              <td><%= request.email %></td>
              <td>
                 <label class="label label-danger"><%= request.animal %></label>
              </td>
              <td><%= request.paperword %></td>
           </tr>

            <% } %>
           <% } else { %>
             <tr>
                <td>
                   <div class="d-flex align-items-center">
                      <div class="">
                        <h4 class="m-b-0 font-16">N/A</h4>
                      </div>
                   </div>
                </td>
                <td>N/A</td>
                <td>N/A</td>
                <td>
                   <label class="label label-danger">N/A</label>
                </td>
                <td>N/A</td>
             </tr>
            <% } %>
            
          </tbody>
       </table>
    </div>
 </div>