<div class="card">
    <div class="card-body">
       <!-- title -->
       <div class="d-md-flex align-items-center">
          <div>
             <h4 class="card-title">Dalmatians</h4>
             <h5 class="card-subtitle">Pets up for adoption &amp; foster</h5>
          </div>
          <div class="ml-auto">
            <a href="/admin/category/animals/add" class="btn btn-sm btn-outline-success">
               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
                Add
            </a>
          </div>
       </div>
       <!-- title -->
    </div>
    <div class="table-responsive">


      <table class="table  vertical-align-middle table-hover table-borderless">
         <thead>
            <tr class="table-light">
               <th scope="col"></th>
               <th scope="col">Name</th>
               <th scope="col">Breed</th>
               <th scope="col">Status</th>
               <th scope="col">Actions</th>
               <th scope="col"></th>
            </tr>
         </thead>
         <tbody>
            <% if (animals.length > 0 ) {  %>
               <% for (let animal of animals) { %>
                  <tr>
                     <th  class="border-0" scope="row"></th>
                     <td class="border-0"><%= animal.name %> </td>
                     <td class="border-0"><%= animal.breed %></td>
                     <td class="border-0"><%= animal.adopted %></td>
                     <td class="border-0"> 
                        <div class=" position-absolute dropdown">
                           <svg xmlns="http://www.w3.org/2000/svg"  type="button" id="ssdsddds" data-bs-toggle="dropdown" aria-expanded="false" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                              <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                            </svg>
                           <ul class=" dropdown-menu" aria-labelledby="ssdsddds">
                             <li><a class="dropdown-item" href="/admin/category/animals/edit/<%=animal.id%>/?edit=true">Edit</a></li>
                             <li><a class="dropdown-item" href="/admin/category/animals/edit/<%=animal.id%>/?edit=true">View</a></li>
                             
                              <form action="/admin/category/animals/actions/delete/<%= animal.id %>" method="post">
                                 <input type="hidden" value="<%= csrfToken%>" name="_csrf">
                                 <button  type="submit" class="btn btn-sm btn-outline-danger border-0 ml-2">Delete</button>
                              </form>
                           </ul>
                         </div>
                     </td>
                     <td class="border-0"><i class="bi bi-three-dots-vertical"></i></td>
                  </tr>
               <% } %>
              <% } else { %>
               
      
               <% } %>


           
            </tbody>
       </table>
    </div>
    
 </div>

