<%- include('../includes/user-head.ejs') %>
</head>
<body>
   <%- include('../includes/user-nav.ejs') %>
   <main>
     <div class="container d-flex align-items-center" style="min-height:80vh;">
        <% if (animal) { %>
           <div class="container">
              <div class="row">
                 <div class="col-md-12 col-lg-6 p-3">
                  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                     <div class="carousel-inner">
                       <div class="carousel-item active">
                         <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/golden-retriever-royalty-free-image-506756303-1560962726.jpg?crop=0.672xw:1.00xh;0.166xw,0&resize=640:*" class="d-block w-100" alt="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/golden-retriever-royalty-free-image-506756303-1560962726.jpg?crop=0.672xw:1.00xh;0.166xw,0&resize=640:*">
                       </div>
                       <div class="carousel-item">
                         <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/golden-retriever-royalty-free-image-506756303-1560962726.jpg?crop=0.672xw:1.00xh;0.166xw,0&resize=640:*" class="d-block w-100" alt="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/golden-retriever-royalty-free-image-506756303-1560962726.jpg?crop=0.672xw:1.00xh;0.166xw,0&resize=640:*">
                       </div>
                       <div class="carousel-item">
                         <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/golden-retriever-royalty-free-image-506756303-1560962726.jpg?crop=0.672xw:1.00xh;0.166xw,0&resize=640:*" class="d-block w-100" alt="...">
                       </div>
                     </div>
                     <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                       <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                       <span class="visually-hidden">Previous</span>
                     </button>
                     <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                       <span class="carousel-control-next-icon" aria-hidden="true"></span>
                       <span class="visually-hidden">Next</span>
                     </button>
                   </div>
                 </div>
                 <div class="col-md-12  col-lg-6 p-3">
                  <div class="container content">
                     <h3><%= animal.name %></h3>
                     <p><%= animal.description %></p>
                  </div>
                 </div>
              </div>
              
             <div class="row mt-3 mb-3">
             <div class="col-8">
              <ul class="list-group">
                <li class="list-group-item"><a href="https://img1.wsimg.com/blobby/go/f64b2d12-cfcd-43e4-9432-8a8c8c240e05/downloads/Adoption%20Questionnaire.pdf?ver=1612215983606"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                  <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                  <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                </svg> Download Application</a></li>
              </ul>
             </div>
             </div>
              <div class="row">
                
                 <div class="col-lg-8">
                    <!-- Request Form -->
                  <form action="/animals/adopt"" method="post" enctype="multipart/form-data">
                     <div class="row">
                        <div class="mb-3 col-6">
                           <label for="first_name" class="form-label">First Name</label>
                           <input type="text" name="first_name" class="form-control" id="name" required>
                         </div>
                         <div class="mb-3 col-6">
                           <label for="last_name" class="form-label">Last name</label>
                           <input type="text" name="last_name" class="form-control" id="last_name" required>
                         </div>
                     </div>
                     <div class="row">
                         <div class="mb-3 ">
                           <label for="email" class="form-label">Email</label>
                           <input type="email" name="email" class="form-control" id="email" required>
                         </div>
                     </div>
                     <div class="mb-3">
                       <label for="fileUpload" class="form-label">File Upload</label>
                       <button type="button" class="btn btn-secondary mt-2 mb-2" style="width: 100%;" id="imageButton">Upload Application</button>
                       <input type="file" accept="application/pdf" name="file" class="form-control" hidden="hidden" id="fileUpload" >
                     </div>
                     <input type="hidden" value="<%= animal._id %>" name="animal"/>
                     <input type="hidden" value="<%= csrfToken%>" name="_csrf" />
                     <button type="submit" class="btn btn-primary">Submit</button>
                   </form>
                 </div>
                
              </div>
           </div>
            <%} else { %>
            <h1>Something went wrong...</h1>
            <%}%>
            </div>
     </div>
   </main>
   <script>
      const imageButton = document.getElementById('imageButton')
      const fileUpload = document.getElementById('fileUpload')
      imageButton.addEventListener('click', () => {
          fileUpload.click();
          console.log("It works again bc why not?")
      })
      fileUpload.addEventListener('change', () => {
          imageButton.innerHTML = fileUpload.value.split("\\").pop()
      })
  </script>
<%- include('../includes/user-footer.ejs') %>

</body>
</html>