<%- include('../includes/user-head.ejs') %>
</head>

<body class="stretched">

	<div id="wrapper" class="clearfix">

		<%- include('../includes/user-nav.ejs') %>
		<section id="slider" class="slider-element min-vh-60 min-vh-md-100 include-header" style="background: url('demos/pet/images/hero-image.jpg') center right no-repeat; background-size: cover;">
			<div class="slider-inner">

				<div class="vertical-middle">
					<div class="container py-5">
						<div class="emphasis-title dark m-0">

							<h1 style="font-size: 40px; line-height: 1.4; font-weight: 600; text-shadow: 1px 1px 1px rgba(0,0,0,0.5);">SAVE THE DALMATIANS &amp; <br> OTHERS CANINE RESCUE, INC.</h1><br>
							<p class="font-weight-light d-none d-md-block" style="font-size: 16px; opacity: .7;">Dedicated to Rescue, Rehabilitation & Re-homing of Dalmatians <br> Through Fostering & Adoption
								A Non-Profit 501(c)(3)</p>
							<a href="#adoption" class="button button-large button-rounded ml-0">Adopt Now</a><span class="leftmargin-sm">+</span>
							
							

						</div>
					</div>
				</div>

			</div>
		</section>

		<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap pt-0 clearfix">

				<div class="section m-0 clearfix" style="background-color: #eef2f5;">
					<div class="container clearfix">

						<div class="heading-block center border-bottom-0 bottommargin topmargin-sm mx-auto" style="max-width: 640px">
							<h3 class="nott font-secondary font-weight-normal" style="font-size: 36px;">What we Do</h3>
							<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius eum inventore consectetur dolorum, voluptatum possimus temporibus vel ab, nesciunt quod!</span>
						</div>

						<div class="row clearfix">
							<!-- Features colomns
							============================================= -->
							<div class="row clearfix">
								<div class="col-lg-3 col-md-6 bottommargin-sm">
									<div class="feature-box media-box fbox-bg">
										<div class="fbox-media">
											<a href="#"><img src="demos/pet/images/services/1.jpg" alt="Featured Box Image"></a>
										</div>
										<div class="fbox-content border-0">
											<h3 class="nott ls0 font-weight-semibold">Adopt a Dog<span class="subtitle font-weight-light ls0">Globally parallel task premium infomediaries</span></h3>
											<a href="#" class="button-link border-0 color">Read More</a>
										</div>
									</div>
								</div>

								<div class="col-lg-3 col-md-6 bottommargin-sm">
									<div class="feature-box media-box fbox-bg">
										<div class="fbox-media">
											<a href="#"><img src="demos/pet/images/services/2.jpg" alt="Featured Box Image"></a>
										</div>
										<div class="fbox-content border-0">
											<h3 class="nott ls0 font-weight-semibold">Pet Nutritionists<span class="subtitle font-weight-light ls0">Energistically visualize market-driven.</span></h3>
											<a href="#" class="button-link border-0 color">Read More</a>
										</div>
									</div>
								</div>

								<div class="col-lg-3 col-md-6 bottommargin-sm">
									<div class="feature-box media-box fbox-bg">
										<div class="fbox-media">
											<a href="#"><img src="demos/pet/images/services/3.jpg" alt="Featured Box Image"></a>
										</div>
										<div class="fbox-content border-0">
											<h3 class="nott ls0 font-weight-semibold">Find a Pet Sitter<span class="subtitle font-weight-light ls0">Enthusiastically iterate enabled portals after.</span></h3>
											<a href="#" class="button-link border-0 color">Read More</a>
										</div>
									</div>
								</div>

								<div class="col-lg-3 col-md-6 bottommargin-sm">
									<div class="feature-box media-box fbox-bg">
										<div class="fbox-media">
											<a href="#"><img src="demos/pet/images/services/4.jpg" alt="Featured Box Image"></a>
										</div>
										<div class="fbox-content border-0">
											<h3 class="nott ls0 font-weight-semibold">Health &amp; Wellbeing<span class="subtitle font-weight-light ls0">Enthusiastically iterate enabled portals after.</span></h3>
											<a href="#" class="button-link border-0 color">Read More</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<section id="adoption">
					
				<%- include('../includes/user-testimonials.ejs') %>

				</section>
				<div class="section mb-0 clearfix">
					<div class="heading-block center border-bottom-0 mb-0 mx-auto" style="max-width: 640px">
						<h3 class="nott font-secondary font-weight-normal" style="font-size: 36px;">Gallery</h3>
						<span class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius eum inventore consectetur dolorum, voluptatum possimus temporibus vel.</span>
					</div>
					<div class="container">
						<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
							<div class="carousel-inner">
							  <div class="carousel-item active">
								<img src="https://colorlib.com/wp/wp-content/uploads/sites/2/divi-photo-gallery-website-template.jpg" class="d-block w-100" alt="https://colorlib.com/wp/wp-content/uploads/sites/2/divi-photo-gallery-website-template.jpg">
							  </div>
							  <div class="carousel-item">
								<img src="https://colorlib.com/wp/wp-content/uploads/sites/2/divi-photo-gallery-website-template.jpg" class="d-block w-100" alt="https://colorlib.com/wp/wp-content/uploads/sites/2/divi-photo-gallery-website-template.jpg">
							  </div>
							  <div class="carousel-item">
								<img src="https://colorlib.com/wp/wp-content/uploads/sites/2/divi-photo-gallery-website-template.jpg" class="d-block w-100" alt="https://colorlib.com/wp/wp-content/uploads/sites/2/divi-photo-gallery-website-template.jpg">
							  </div>
							</div>
							<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
							  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
							  <span class="visually-hidden">Previous</span>
							</button>
							<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
							  <span class="carousel-control-next-icon" aria-hidden="true"></span>
							  <span class="visually-hidden">Next</span>
							</button>
						  </div>
					</div>
				</div>

				

				

			

				<div class="container topmargin-lg clearfix">
					<div class="heading-block center border-bottom-0 mx-auto" style="max-width: 640px">
						<h3 class="nott font-secondary font-weight-normal" style="font-size: 36px;">Need Help?</h3>
						<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius eum inventore consectetur dolorum, voluptatum possimus temporibus vel.</span>
					</div>
					<div class="row contact-properties clearfix">
						<div class="col-md-4">
							<a href="#" style="background: url('demos/pet/images/help/1.jpg') no-repeat center center; background-size: cover;">
								<div class="vertical-middle dark center">
									<div class="heading-block m-0 border-0">
										<h3 class="text-capitalize font-weight-normal font-secondary">Hire a Pet Sitter</h3>
										<span style="margin-top: 100px; font-size: 17px; font-weight: 500;">
											795 Folsom Ave, Suite 600<br>
											San Francisco, CA 94107
										</span>
									</div>
								</div>
							</a>
						</div>
						<div class="col-md-4">
							<a href="#" style="background: url('demos/pet/images/help/2.jpg') no-repeat center center; background-size: cover;">
								<div class="vertical-middle dark center">
									<div class="heading-block m-0 border-0">
										<h3 class="text-capitalize font-weight-normal font-secondary">Report a Stray Dog</h3>
										<span style="margin-top: 100px; font-size: 17px; font-weight: 500;">
											call us<br>
											+1-111-222-333
										</span>
									</div>
								</div>
							</a>
						</div>
						<div class="col-md-4">
							<a href="#" style="background: url('demos/pet/images/help/3.jpg') no-repeat center center; background-size: cover;">
								<div class="vertical-middle dark center">
									<div class="heading-block m-0 border-0">
										<h3 class="text-capitalize font-weight-normal font-secondary">Report Harassment Dog</h3>
										<span style="margin-top: 100px; font-size: 17px; font-weight: 500;">
											Email us<br>
											info@canvas.com
										</span>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>

				<div class="section m-0 bg-transparent clearfix">
					<div class="container clearfix">
						<div class="heading-block center border-bottom-0 mx-auto" style="max-width: 640px">
							<h3 class="nott font-secondary font-weight-normal" style="font-size: 36px;">Contact Us</h3>
							<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius eum inventore consectetur dolorum, voluptatum possimus temporibus vel.</span>
						</div>
						<form action="/animals/question" method="post" class="php-email-form" ectype="multipart/form-data"> 
							<div class="form-row">
							  <div class="form-group col-12">
								<label for="name">Your Name</label>
								<input type="text" name="name" class="form-control" id="name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
								<div class="validate"></div>
							  </div>
							  <div class="form-group col-12">
								<label for="name">Your Email</label>
								<input type="email" class="form-control" name="email" id="email" data-rule="email" data-msg="Please enter a valid email" />
								<div class="validate"></div>
							  </div>
							</div>
							<div class="form-group">
							  <label for="name">Subject</label>
							  <input type="text" class="form-control" name="subject" id="subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
							  <div class="validate"></div>
							</div>
							<div class="form-group">
							  <label for="name">Message</label>
							  <textarea class="form-control" name="message" rows="10" data-rule="required" data-msg="Please write something for us"></textarea>
							  <div class="validate"></div>
							</div>
							<div class="mb-3">
							  <input type="hidden" value="<%= csrfToken%>" name="_csrf">
							</div>
							<div class="text-center"><button type="submit" class="btn btn-outline-success">Send Message</button></div>
						  </form>
					</div>
				</div>

			</div>
		</section><!-- #content end -->

		<!-- Footer
		============================================= -->
		<footer id="footer" class="dark">
			<div class="container clearfix">
				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap">

					<div class="row col-mb-50">
						<div class="col-sm-6 col-lg-3">
							<div class="widget clearfix">

								<p>We believe in <strong>Simple</strong>, <strong>Creative</strong> &amp; <strong>Flexible</strong> Design Standards.</p>

								<div style="background: url('images/world-map.png') no-repeat center center; background-size: 100%;">
									<address>
										<strong>Headquarters:</strong><br>
										795 Folsom Ave, Suite 600<br>
										San Francisco, CA 94107<br>
									</address>
									<abbr title="Phone Number"><strong>Phone:</strong></abbr> (1) 8547 632521<br>
									<abbr title="Fax"><strong>Fax:</strong></abbr> (1) 11 4752 1433<br>
									<abbr title="Email Address"><strong>Email:</strong></abbr> info@canvas.com
								</div>

							</div>
						</div>

						<div class="col-sm-6 col-lg-3">
							<div class="widget widget_links clearfix">

								<h4>Blogroll</h4>

								<ul>
									<li><a href="https://codex.wordpress.org/">Documentation</a></li>
									<li><a href="https://wordpress.org/support/forum/requests-and-feedback">Feedback</a></li>
									<li><a href="https://wordpress.org/extend/plugins/">Plugins</a></li>
									<li><a href="https://wordpress.org/support/">Support Forums</a></li>
									<li><a href="https://wordpress.org/extend/themes/">Themes</a></li>
									<li><a href="https://wordpress.org/news/">Canvas Blog</a></li>
									<li><a href="https://planet.wordpress.org/">Canvas Planet</a></li>
								</ul>

							</div>
						</div>

						<div class="col-sm-6 col-lg-3">
							<div class="widget widget_links clearfix">

								<h4>Blogroll</h4>

								<ul>
									<li><a href="https://codex.wordpress.org/">Documentation</a></li>
									<li><a href="https://wordpress.org/support/forum/requests-and-feedback">Feedback</a></li>
									<li><a href="https://wordpress.org/extend/plugins/">Plugins</a></li>
									<li><a href="https://wordpress.org/support/">Support Forums</a></li>
									<li><a href="https://wordpress.org/extend/themes/">Themes</a></li>
									<li><a href="https://wordpress.org/news/">Canvas Blog</a></li>
									<li><a href="https://planet.wordpress.org/">Canvas Planet</a></li>
								</ul>

							</div>
						</div>

						<div class="col-sm-6 col-lg-3">
							<div class="widget center clearfix" style="border: 2px dashed #AAA; padding: 30px">
								<h3>Exclusive Sale<br>
								Get <span style="font-size: 40px;">20%</span> Off*</h3>
								<span>Coupon code: <strong>lovecanvas</strong></span><br>
								<em style="color: #999;"><small>(First time Register only)</small></em>
							</div>
						</div>
					</div>

				</div><!-- .footer-widgets-wrap end -->
			</div>

			<div class="line m-0"></div>

			<!-- Copyrights
			============================================= -->
			<div id="copyrights">
				<div class="container">

					<div class="row justify-content-between align-items-center col-mb-30">
						<div class="col-12 col-lg-auto text-center text-lg-left">
							Copyrights &copy; 2020 All Rights Reserved by Canvas Inc.
						</div>

						<div class="col-12 col-lg-auto text-center text-lg-right">
							<a href="#" class="social-icon inline-block si-small si-borderless si-facebook">
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>

							<a href="#" class="social-icon inline-block si-small si-borderless si-twitter">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>

							<a href="#" class="social-icon inline-block si-small si-borderless si-gplus">
								<i class="icon-gplus"></i>
								<i class="icon-gplus"></i>
							</a>

							<a href="#" class="social-icon inline-block si-small si-borderless si-pinterest">
								<i class="icon-pinterest"></i>
								<i class="icon-pinterest"></i>
							</a>

							<a href="#" class="social-icon inline-block si-small si-borderless si-vimeo">
								<i class="icon-vimeo"></i>
								<i class="icon-vimeo"></i>
							</a>

							<a href="#" class="social-icon inline-block si-small si-borderless si-github">
								<i class="icon-github"></i>
								<i class="icon-github"></i>
							</a>

							<a href="#" class="social-icon inline-block si-small si-borderless si-yahoo">
								<i class="icon-yahoo"></i>
								<i class="icon-yahoo"></i>
							</a>

							<a href="#" class="social-icon inline-block si-small si-borderless si-linkedin">
								<i class="icon-linkedin"></i>
								<i class="icon-linkedin"></i>
							</a>
						</div>
					</div>

				</div>
			</div><!-- #copyrights end -->
		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->

	<!-- JavaScripts
	============================================= -->
<%-include('../includes/user-footer.ejs') %>
</body>
</html>