<%- include('../includes/head.ejs') %>
</head>
<body class="stretched">
   </head>
   <body>
      <%- include('../includes/nav.ejs') %>
      <main>
		  <% if (blogs.length > 0) { %>
            <div class="container">
               <div class="row">
                  <% for (let blog of blogs) { %>
                     <div class="card" style="width: 18rem;">
                        <img src="<%= blog.imageUrl %>" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title"><%= blog.title %></h5>
                          <p class="card-text"><%= blog.content %></p>
                          <a href="<%= blog._id %>" class="btn btn-primary">Read More</a>
                        </div>
                      </div>
                     <% } %>
               </div>
            </div>
         <% } else { %>
            <h1>No blogs</h1>
         <% } %>
	  </main>
      <%- include('../includes/footer.ejs') %>
</body>
</html>